$genFGColor: black;
$genBGColor: #f5f5ff;

$formTitlesFGColor: black;
$formTitlesBGColor:#aebaff;
// $itemBGColor: white;
// $workExpContainerBGColor: #d2d2ce;
// $refsContainerBGColor: #d2d2ce;
$genOpacity: 0.8;
$titlesOpacity: 0.65;
$itemOpacity: 0.75;