.mat-toolbar {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  position: sticky;
  top: 0;
  left: 0;
  min-height: 30px;
  height: 60px;
}

.menu-icon {
  text-shadow: black 2px 3px 6px;
}

.little-margin-right {
  margin-right: .5rem;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-options-container {
  display: flex;
  flex: auto;
  align-items: baseline;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.toolbar-option {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.form-inline {
  margin-right: .7rem;
}

.app-title {
  font-weight: 600;
  text-shadow: black 2px 3px 6px;
}

.smaller-text {
  font-size: smaller;
}

@media (max-width: 450px) {
  .app-title {
    font-size: 0.8em;
  }

  .mat-toolbar {
    width: 100vw;
  }
}

@media (min-width: 451px) and (max-width: 767px) {
  .app-title {
    font-size: 1em;
  }

  .mat-toolbar {
    width: 100vw;
  }
}