<mat-toolbar color="primary">
  <button mat-icon-button class="menu-icon" aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">{{ 'shared.appTitle' | translate }}</span>

  <div class="toolbar-options-container">
    <div class="toolbar-option">
      <span class="form-inline smaller-text">{{ 'shared.theme' | translate }}</span>
      <span class="form-inline">
        <select class="form-control" #selectedTheme (change)="update(selectedTheme.value)">
          <option *ngFor="let theme of getThemes()" [value]="theme"
          [selected]="theme == currentThemeValue">
          {{ theme }}
          </option>
        </select>
      </span>
    </div>

    <div class="toolbar-option">
      <span class="form-inline smaller-text">{{ 'shared.language' | translate }}</span>
      <span class="form-inline">
        <select class="form-control" #selectedLang (change)="transl8Service.switchLang(selectedLang.value)">
          <option *ngFor="let language of transl8Service.getLanguages()" [value]="language.code" 
          [selected]="language.code === transl8Service.getCurrentLang()">
            {{ language.name }}
          </option>
        </select>
      </span>
    </div>
  </div>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>